<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lt.vu.mybatis.dao.ReaderMapper">
  <resultMap id="BaseResultMap" type="lt.vu.mybatis.model.Reader">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="Author" jdbcType="VARCHAR" property="author" />
    <result column="LibraryId" jdbcType="INTEGER" property="libraryid" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, Title, Author, LibraryId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from book
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="Id" keyProperty="id" parameterType="lt.vu.mybatis.model.Reader" useGeneratedKeys="true">
    insert into book (Title, Author, LibraryId
      )
    values (#{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{libraryid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="Id" keyProperty="id" parameterType="lt.vu.mybatis.model.Reader" useGeneratedKeys="true">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        Title,
      </if>
      <if test="author != null">
        Author,
      </if>
      <if test="libraryid != null">
        LibraryId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="libraryid != null">
        #{libraryid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lt.vu.mybatis.model.Reader">
    update book
    <set>
      <if test="title != null">
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        Author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="libraryid != null">
        LibraryId = #{libraryid,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="lt.vu.mybatis.model.Reader">
    update book
    set Title = #{title,jdbcType=VARCHAR},
      Author = #{author,jdbcType=VARCHAR},
      LibraryId = #{libraryid,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>